*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.wrapper {
    padding: 3rem;
    text-align: center;
    color: #333;
 
    font-size: 2rem;

  }

a .foto{
    width: 100%;
    
    
    
  }
  .menu a:nth-child(1){
 background-color: #e1eaef;
  }

  .menu a {
    background-color: #000000;
    padding: 0.6rem 1.5rem;
    border-radius: 2rem;
    color:white;
    text-decoration: none;
   
  }
  
  .menu a.active {
    /* background-color: #3B82F6;
    color: white; */
    width: 0px;

  }
  .foto{
      width: 50px;
      height: 50px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
  }
  .titulo-1{
    text-align: center;
    margin: 40px;
    font-size: 5rem;
    color:black;
    font-family: 'Times New Roman', Times, serif;

  }
  .titulo{
    text-align: center;
    margin: 40px;
    font-size: 4rem;
 

  }

  /* datos de las figuras*/
  .container {
    padding: 3rem;
    text-align: center;
    color: #333;
  

    font-size: 4rem;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "cuadrado"
    "triangulo"
    "circulo";
    gap: 40px;
  }

 

  .cuadrado {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-size: 1.6rem;
    padding: 20px;
    width: 100%;
    grid-area: cuadrado;
    margin:  auto;
    box-shadow: 6px 6px 16px 9px #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;

}
  
.titulo{
    margin: 10px;
    
}
.cuadrado .label{
    font-size: 3rem;
}
.triangulo label{
    font-size: 3rem;
    
}
.circulo label{
    font-size: 3rem;
}
.cuadrado .elinput {
    padding: 0.8rem 1.1rem;
    border-radius: 5px;
    border: solid 1px #94A3B8;
    width: 100%;
    margin: 20px 0 20px 0;
   
    
    }

    .cuadrado .button{
        padding: 0.8rem 1.1rem;
        border-radius: 5px;
       background-color: #000000;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 2rem;
        

        
    }

    .botones{
        display: flex;
        justify-content: space-between;
     }
 
     .button:hover{
         background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
         animation:slidebg 2s linear infinite;
     }

     @keyframes slidebg {
        to {
          background-position:20vw;
        }
      }
      
      .follow{
        margin-top: 40px;
      }
      
      .follow a{
        color: black;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      
      
      .triangulo {
        box-shadow: 6px 6px 16px 9px #000000;
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        font-size: 1.6rem;
        padding: 20px;
        width: 100%;
        grid-area: triangulo;
        margin:  auto;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        flex-wrap: wrap;
    
    }
    .titulo{
        margin: 10px;
        
    }
    
     .triangulo .elinput {
        padding: 0.8rem 1.1rem;
        border-radius: 5px;
        border: solid 1px #94A3B8;
        width: 100%;
        margin: 20px 0 20px 0;
       
        
        }
    
        .triangulo .button{
            padding: 0.8rem 1.1rem;
        border-radius: 5px;
       background-color: #000000;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 2rem;
    
            
        }
    
        /* circulo*/
        .circulo {
            box-shadow: 6px 6px 16px 9px #000000;
            background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
            font-size: 1.6rem;
            padding: 20px;
            width: 100%;
            grid-area: circulo;
            margin:  auto;
        
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            flex-wrap: wrap;
        
        }
        .titulo{
            margin: 10px;
            
        }
        
         .circulo .elinput {
            padding: 0.8rem 1.1rem;
            border-radius: 5px;
            border: solid 1px #94A3B8;
            width: 100%;
            margin: 20px 0 20px 0;
           
            
            }
        
            .circulo .button{
                padding: 0.8rem 1.1rem;
                border-radius: 5px;
               background-color: #000000;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 2rem;
                
            }
        
               
   
         

            @media screen and (min-width: 767px) {
              .menu {
                display: flex;
            justify-content: space-between;
            flex-direction: row;
              }
              .cuadrado {
               
                width: 500px;
            
            }
            .triangulo{
                width: 500px;
            }
            .circulo{
                width: 500px;
            }
                
             }
              
                         
             @media (max-width: 370px){
             .cuadrado .button {
                
                 padding: 0.5rem;
                
             }

             .triangulo .button {
                
                padding: 0.5rem;
               
            }

            .circulo .button {
                
                padding: 0.5rem;
               
            }
             
             
             }